@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300:800&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
